<div class="container">
  <div id="carouseBestSeller" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="row">
                  <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/444" alt="1 slide"><div>Description</div><button type="button" class="btn btn-primary">Add to Cart</button></div>
                  <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/ccff00" alt="2 slide"><div>Description</div><button type="button" class="btn btn-primary">Add to Cart</button></div>
                  <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600" alt="3 slide"><div>Description</div><button type="button" class="btn btn-primary">Add to Cart</button></div>
                  <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/ccff00" alt="4 slide"><div>Description</div><button type="button" class="btn btn-primary">Add to Cart</button></div>
                  <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600" alt="5 slide"><div>Description</div><button type="button" class="btn btn-primary">Add to Cart</button></div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="row">
                  <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/ccff00" alt="4 slide"><div>Description</div><button type="button" class="btn btn-primary">Add to Cart</button></div>
                  <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/444" alt="5 slide"><div>Description</div><button type="button" class="btn btn-primary">Add to Cart</button></div>
                  <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/ddd" alt="6 slide"><div>Description</div><button type="button" class="btn btn-primary">Add to Cart</button></div>
                  <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/ccff00" alt="4 slide"><div>Description</div><button type="button" class="btn btn-primary">Add to Cart</button></div>
                  <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600" alt="5 slide"><div>Description</div><button type="button" class="btn btn-primary">Add to Cart</button></div>
                </div>
          </div>
      </div>
      <ol class="carousel-indicators">
              <li data-target="#carouseBestSeller" data-slide-to="0" class="active"></li>
              <li data-target="#carouseBestSeller" data-slide-to="1"></li>
      </ol>
  </div>
</div>